@model StockServiceHttpClient.Models.StockModel

<div id="drop">
    <select id="symbols" onchange="func()">
        <option value="select">Select</option>
    </select>
</div>

<table class="table table-bordered" style="width:auto">
    <tr>
        <th>Current Price</th>
        <th>High Price</th>
        <th>Low Price</th>
        <th>Open Price</th>
        <th>Previous Closed Price</th>
    </tr>
    <tr>
        <td>
            @Model.c
        </td>
        <td>
            @Model.h
        </td>
        <td>
            @Model.l
        </td>
        <td>
            @Model.o
        </td>
        <td>
            @Model.pc
        </td>
    </tr>

</table>

<script>
    jQuery(document).ready(function () {
        // var resp = await fetch('Symbol');
        // var data = await resp.text();
        // document.querySelector('#drop').innerHTML = data;
        // };
        $.ajax({
            type: 'GET',
            url: 'Symbol',
            success: function (data) {
                if (data.length > 0) {
                    document.querySelector('#symbols').innerHTML = data;
                }
            }
        });
    });
    function func(){
        var drop = document.querySelector('#symbols');
        var value = drop.options[drop.selectedIndex].value;
        window.location = 'http://localhost:5272/api/v1/stock?stock='+value;
    }
</script>