@model List<ProductResponse>

<div class="row px-2 py-2">
@foreach(ProductResponse ptd in Model)
{
    <div class="col py-2">
        <div class="card" style="margin-top: 40px; width: 500px;">
        <div class="card-body">
            <h5 class="card-title">Product</h5>
            <p class="card-text">
                <h6><b>Product Name:</b>@ptd.ProductName</h6>
                <h6><b>Product Description:</b>@ptd.ProductDescription</h6>
                <h6><b>Product Category</b>:@ptd.CategoryName</h6>
                <h6><b>Product Price:</b>@ptd.CurrentPrice</h6>
            </p>
                    <a asp-controller="Product" asp-action="UpdateProduct" asp-route-productId="@ptd.ProductId" class="btn btn-info">Edit Product</a>
                    <a asp-controller="Product" asp-action="DeleteProduct" asp-route-productId="@ptd.ProductId" class="btn btn-danger">Delete Product</a>
                    <button id="delete" type="button" value="delete" onclick="DeleteProduct(@ptd.ProductId)">Delete</button>
        </div>
        </div>
    </div>
}

</div>


<script>
    function DeleteProduct(id){
        if (confirm('Do you want to delete')) {
            $.ajax({
                type: 'GET',
                url: 'DeleteProduct?productid='+id,
                success: function () {
                    window.location = 'http://localhost:5071/'
                }
            })
        }
        else {
            alert("Deletion Cancelled");
        }
    }
</script>